* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 18px;
  min-height: 100vh;
  display: grid;
  place-content: center;
  background-color: #f3eae3;
}
.container {
  display: flex;
  max-width: 700px;
  position: relative;
  border-radius: 1rem;
  outline: 1 solid #fff;
  background-color: white;
}
.card {
  background-image: url(../images/image-product-desktop.jpg);
  background-repeat: no-repeat;
  width: 100%;
  background-size: contain;
  height: 450px;
  border-radius: 1rem;
}
.price {
  display: block;
}
.price button {
  background-color: #3d8168;
  color: white;
  padding: 15px;
  border-radius: 5px;
  width: 180px;
}
